# Development
EXPO_PUBLIC_API_BASE_URL=http://localhost:8001/api
EXPO_PUBLIC_WS_BASE_URL=ws://localhost:8001/ws
EXPO_PUBLIC_REQUEST_TIMEOUT_MS=30000
EXPO_PUBLIC_MAP_TILE_URL_TEMPLATE=https://tile.openstreetmap.org/{z}/{x}/{y}.png

# Feature toggles
EXPO_PUBLIC_ENABLE_REMOTE_LOGGING=false
EXPO_PUBLIC_ENABLE_DEBUG_LOGS=true
EXPO_PUBLIC_ENABLE_REALTIME=true

# Remote Configuration (for testing phase)
EXPO_PUBLIC_CONFIG_URL=
EXPO_PUBLIC_MAPPLS_REST_KEY=
EXPO_PUBLIC_MAPPLS_CLIENT_ID=
EXPO_PUBLIC_MAPPLS_CLIENT_SECRET=
EXPO_PUBLIC_MAPPLS_NAV_DEEPLINK_TEMPLATE=mappls://navigation?dlat={lat}&dlng={lng}&dname={label}
